
 
.jumbotron{
    background-image: url(../image/h_img.jpg);
    background-size: cover;
    background-position: center;
    
 }

 .hel{
     padding-top: 150px;
     color: white;
 }
 .hel h1{
     padding-top:30px; 
 }
.about{
    text-align: center;

}
.service{
    background-image: url(../image/s_image.jpg);
    background-size: cover;
    
}
.serv{
    text-align: center;
    padding: 100px 0;
}
.conta{
    background-image: url(../image/c_image.jpg);
    background-size: cover;
}
.mouse{
    padding-top: 105px;
}
h2{
    text-align: center;
}
.serv{
    color: white;
}
.conta h3 {
    color: white;
    text-align: center;
    padding-top: 40px;
}
input[type=text] {
    height: 30px;
    background-color: transparent;
    margin-top: 20px;
    color: white;
    
}
#infor {
    margin-top: 20px;
    height: 200px;
    margin-bottom: 100px;
    background-color: transparent;
    color: white;
}
#infor::placeholder {
    color: white;
}
input[type="text"]::placeholder {
    color: white; 
} 
li{
    list-style-type: none;
    display: inline;
    padding: 10px;
  
    
}
.find ul{
    align-items: center;
    margin-left: 200px;
    padding-top: 30px
    
}
.last{
    text-align: center;
}
#des{
    display: none;
}

.container-what{
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  
}
.des-descript {
    display: none;
}
.descript{
    display: none;
}
.text-des{
    display: none;
}
button{
    margin-bottom: 50px;
}
.im-one img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  
}
 .ict{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.life {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.life p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
    
}
.comp{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.christ {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.christ p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.home{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.people {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.people p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.today{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.prove {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px ;
}



.prove p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}



.epi{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    
    opacity: 1;
    display: none;
}

.lil{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.lil p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}


.mug{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.kim{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.kim p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.rec{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.bord{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.bord p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.kay{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    display: none;
}

.border{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 2px dashed white;
    padding: 20px 20px 20px;
}



.border p {
    color: white;
    font-size: 45px;
    font-family: 'Peddana', serif;
}

.about ,.service, .container-what{
    font-family: 'Peddana', serif;
    font-size: 20px;
}
.port h2{
    font-family: 'Peddana', serif;
}